* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

img {
    height: 50px;
    width: 125px;
}
.panel{
    width: 200px;
    height: 100px;
}
.foot {
    width: 100%;
    height: 50px;
    background-color: #64FFDA;
    position: fixed;
    bottom: 0px;
    color: darkblue;
    text-align: center;
    justify-content: center;
}

.row {
    /*display: block;*/
    display: flex;
    flex-wrap: wrap;
}


.content {
    background-color: white;
}

.right {

    background-color: #CDCDCD;
}

.right ul {
    padding: 0px;
    margin: 0px;
}

.right li {
    border: 1px solid black;
    margin: 8px;
    padding: 15px;
    text-align: center;
    list-style: none;
    border-radius: 10px;

}

.right li a {
    font-size: 16px;
    text-decoration: none;
    color: #01579B;

}
.left {

    background-color: #CDCDCD;

}

.left ul {
    padding: 0px;
    margin: 0px;

}

.left li {
    margin: 8px;
    padding: 15px;
    text-align: center;
    border-bottom:1px solid blue ;

}

.left li a {
    font-size: 16px;
    text-decoration: none;
    color: #01579B;


}

.head {
    z-index: 1;
    position: fixed;
    padding: 0;
    margin: 0;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #64FFDA;
}
.head li {
    justify-content: center;
    position: relative;
    float: left;
    list-style: none;

}

.head li a {

    width: 125px;
    height: 50px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #64FFDA;
    color: darkblue;
}

.head ul ul li a {
    width: 200px;
    text-align: left;
    padding-left: 10px;
    justify-content: center;
    padding-top: 10px;
}

.head li a:hover {
    color:#64FFDA ;
    transition: 0.75s;
    background-color: darkblue;
}

/*!*Màn hình điện thoại*!*/
@media only screen and (max-width: 600px) {
        .left {width: 100%;}
}

/*!*màn hinh ipad*!*/
/*@media only screen and (min-width: 601px) {*/
/*    .col-s-1 {*/
/*        width: 8.33333%;*/
/*    }*/

/*    .col-s-2 {*/
/*        width: 16.66667%;*/
/*    }*/

/*    .col-s-3 {*/
/*        width: 25%;*/
/*    }*/

/*    .col-s-4 {*/
/*        width: 33.33333%;*/
/*    }*/

/*    .col-s-5 {*/
/*        width: 41.66667%;*/
/*    }*/

/*    .col-s-6 {*/
/*        width: 50%;*/
/*    }*/

/*    .col-s-7 {*/
/*        width: 58.33333%;*/
/*    }*/

/*    .col-s-8 {*/
/*        width: 66.66667%;*/
/*    }*/

/*    .col-s-9 {*/
/*        width: 75%;*/
/*    }*/

/*    .col-s-10 {*/
/*        width: 83.33333%;*/
/*    }*/

/*    .col-s-11 {*/
/*        width: 91.66667%;*/
/*    }*/

/*    .col-s-12 {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*!*Màn hình pc*!*/
/*@media only screen and (min-width: 769px) {*/
/*    .col-1 {*/
/*        width: 8.33333%;*/
/*    }*/

/*    .col-2 {*/
/*        width: 16.66667%;*/
/*    }*/

/*    .col-3 {*/
/*        width: 25%;*/
/*    }*/

/*    .col-4 {*/
/*        width: 33.33333%;*/
/*    }*/

/*    .col-5 {*/
/*        width: 41.66667%;*/
/*    }*/

/*    .col-6 {*/
/*        width: 50%;*/
/*    }*/

/*    .col-7 {*/
/*        width: 58.33333%;*/
/*    }*/

/*    .col-8 {*/
/*        width: 66.66667%;*/
/*    }*/

/*    .col-9 {*/
/*        width: 75%;*/
/*    }*/

/*    .col-10 {*/
/*        width: 83.33333%;*/
/*    }*/

/*    .col-11 {*/
/*        width: 91.66667%;*/
/*    }*/

/*    .col-12 {*/
/*        width: 100%;*/
/*    }*/
/*}*/
