<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{/home :: nav}"></nav>
<div class="container">
    <h1>Create Discount</h1>
    <form th:action="@{/create}" th:object="${discount}" method="post">

        <div class="mb-3">
            <label for="title" class="form-label">title </label>
            <input type="text" class="form-control" id="title" th:field="*{title}">
            <div>
                <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</p>
            </div>
        </div>
        <div class="mb-3">
            <label for="timeStart" class="form-label">timeStart </label>
            <input type="date" class="form-control" id="timeStart" th:field="*{timeStart}">
            <div>
                <p class="text-danger" th:if="${#fields.hasErrors('timeStart')}" th:errors="*{timeStart}">timeStart Error</p>
            </div>
        </div>
        <div class="mb-3">
            <label for="timeEnd" class="form-label">timeEnd </label>
            <input type="date" class="form-control" id="timeEnd" th:field="*{timeEnd}">
            <div>
                <p class="text-danger" th:if="${#fields.hasErrors('timeEnd')}" th:errors="*{timeEnd}">timeEnd Error</p>
            </div>
        </div>
        <div class="mb-3">
            <label for="levelDiscount" class="form-label">levelDiscount </label>
            <input type="text" class="form-control" id="levelDiscount" th:field="*{levelDiscount}">
            <div>
                <p class="text-danger" th:if="${#fields.hasErrors('levelDiscount')}" th:errors="*{levelDiscount}">levelDiscount Error</p>
            </div>
        </div>
        <div class="mb-3">
            <label for="detail" class="form-label">detail </label>
            <textarea type="text" class="form-control" id="detail" th:field="*{detail}"></textarea>
            <div>
                <p class="text-danger" th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}">detail Error</p>
            </div>
        </div>

<!--        <div class="mb-3">-->
<!--            <label class="form-label">category </label>-->
<!--            <select class="form-select" th:field="*{category}">-->
<!--                <option th:each="category : ${categories}" th:text="${category.nameCategory}" th:value="${category.idCategory}"></option>-->
<!--            </select>-->
<!--        </div>-->
        <button type="submit" class="btn btn-info">Submit</button>
        <a href="/" class="btn btn-primary">Back</a>
    </form>
</div>
</body>
</html>