<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="/home :: nav"></nav>
<div th:if="${message}" th:text="${message}" class="alert alert-success"></div>

<div class="container">

    <h1 class="text-center"> Question Detail</h1>
    <table class="table table-success " border="2px solix black ">
        <tr>
            <th>ID</th>
            <td th:text="${discount.idQuestion}"></td>
        </tr>
        <tr>
            <th>title</th>
            <td th:text="${discount.title}"></td>
        </tr>
        <tr>
            <th>discount</th>
            <td th:text="${discount.discount}"></td>
        </tr>
        <tr>
            <th>answer</th>
            <td th:text="${discount.answer}"></td>
        </tr>
        <tr>
            <th>dateCreate</th>
            <td th:text="${discount.dateCreate}"></td>
        </tr>
        <tr>
            <th>status</th>
            <td th:text="${discount.status}"></td>
        </tr>
        <tr><th></th>
            <td><a th:href="@{/}" class="btn btn-info">Back</a></td>

        </tr>
    </table>

</div>

</body>
</html>