<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit song</h1>
<p>
    <a href="/">Song list</a>
</p>
<form th:action="@{/edit}" th:object="${song}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name of the song:</td>
            <td><input type="text" th:field="*{nameSong}"/></td>
            <td th:if="${#fields.hasErrors('nameSong')}" th:errors="*{nameSong}" class="error">Name Error</td>
        </tr>
        <tr>
            <td>Singer:</td>
            <td><input type="text" th:field="*{singer}"/></td>
            <td th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}" class="error">Name Error</td>
        </tr>
        <tr>
            <td>Kind of music:</td>
            <td><input type="text" th:field="*{kindOfMusic}"/></td>
            <td th:if="${#fields.hasErrors('kindOfMusic')}" th:errors="*{kindOfMusic}" class="error">Name Error</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update song"></td>
        </tr>
    </table>
</form>
</body>
</html>