<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Song</title>
</head>
<body>
<h3 th:text="${message}" style="color: green"></h3>
<a href="/createSong">Create new song</a>
<h1>List Song</h1>
<table border="1">
    <tr>
        <th>Name of the song</th>
        <th>Singer</th>
        <th>Kind of music</th>
        <th>Edit</th>
    </tr>
    <th:block th:each="song : ${listSong}">
        <tr>
            <td th:text="${song.nameSong}"></td>
            <td th:text="${song.singer}"></td>
            <td th:text="${song.kindOfMusic}"></td>
            <td><a th:href="@{/edit/__${song.id}__ }">Edit</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>