body {
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}

.tool1 {
    margin: 20px 40px;
    color: #CDCDCD;
    font-size: 25px;
}

.app {
    font-size: 25px;
    padding: 5px;
    margin: 20px 10px;
    border: 2px solid #CDCDCD;
    border-radius: 20px;
    color: #CDCDCD;
    transition: 0.75s;
}

.app:hover {
    background-color: #CDCDCD;
    color: black;
}

.linkbutton {
    display: inline;
    padding-left: 150px;

}

.tool {

    font-size: 25px;
}

.tool:hover {
    border-radius: 5px;
    border: 2px solid #CDCDCD;
}

.linkAbout {
    display: inline;
    padding-left: 150px;
    margin: 10px 40px;
}

header, footer {
    width: 100%;
    padding: 10px;
    color: white;
    z-index: 1;

}

.header {
    position: fixed;
    top: 0;
    margin: 0;
    display: inline;
    background-color: black;
}

input {
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    margin-top: -10px;
}

section {
    top: 85px;
    position: sticky;
    width: 50%;
    float: left;
    left: 23%;
    margin: 5px;
    padding: 15px;
    background-color: lightgrey;
}

article {
    margin: 5px;
    padding: 10px 10px 10px 20px;

    background-color: white;
}


.logo {
    height: 30px;
    width: 20px;

}

.link {
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.6;
    font-weight: 500;
    display: inline;
}

.tool2 {
    color: black;
    padding: 20px 15px;
    font-size: 20px;
}

.aside {
    position: fixed;
    top: 85px;
    right: 0;
    width: 25%;
    background-color: #CDCDCD;
    float: right;
}

.nav {
    top: 85px;
    position: fixed;
    float: left;
    background-color: #CDCDCD;
    width: 23%;
}

.linkGroup {
    margin: 0;
    list-style: none;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 16px;
}

.content {
    position: relative;
}

.tool3 {
    display: inline;

}

.contacts {
    padding-right: 10px;
    padding-left: 10px;
    color: black;
}

.headertool {
    display: inline;
    padding-right: 150px;
}

.img {
    position: relative;
    width: 45px;
    padding-bottom: 10px;
}

.headertool1 {

    position:absolute;
    display: inline;
    padding-left: 10px;
    padding-top: 5px;
    margin: 10px;
}
.user{
    margin-top: 10px;
}
.picture{
    width: 340px;
    height: 500px;
    padding-left: 20px;
}
.interact{
    font-family: sans-serif;
margin-left: 20px;
}
.interact1{
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.status{
    padding-left: 20px;
}