<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>View Details</h1>
<div th:object="${blogsDetail}">
    <table>
    <tr>
        <th>Id :</th>
        <td th:text="*{id}"></td>
    </tr>
    <tr>
        <th>Name :</th>
        <td th:text="*{name}"></td>
    </tr>
    <tr>
        <th>Author :</th>
        <td th:text="*{author}"></td>
    </tr>
    <tr>
        <th>Content :</th>
        <td th:text="*{content}"></td>
    </tr>
    </table>
</div>

</body>
</html>