<h1>Danh sách sản phẩm</h1>
<button><a routerLink="/product/create">Tạo sản phẩm mới</a></button>
<table border="1px solid black">
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>Chỉnh Sửa</td>
    <td>Xoá</td>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td><button><a [routerLink]="['/product/edit',product.id]">Edit</a></button></td>
    <td><button><a [routerLink]="['/product/delete',product.id]">Delete</a></button></td>
  </tr>
</table>
