<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/Layout::head}">

</head>
<body class="sb-nav-fixed">

<nav th:replace="~{/Layout::_menuTop}"></nav>
<div th:insert="~{/Layout::_leftMenu}"></div>
<div id="list">
    <div id="layoutSidenav_content" style="margin-left: 250px;margin-top: 80px;">
        <h1 style="color:#e20d0d; text-align: center">Contract Management</h1>
        <div class="alert alert-danger alert-dismissible" th:if="${msg}">
            <p th:if="${msg}" th:text="${msg}"></p>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div class="formSearch">
            <div class="autocomplete" style="width:300px;">
                <input id="myInput" type="text" name="nameCus" placeholder="Name">
            </div>
            <button id="submitSearch" type="submit" class="btn btn-success">Search</button>
        </div>
        <br><br>
        <a href="/contract/createGet" class="btn btn-primary">Create</a>
        <main>
            <table class="table table-striped resultTable" style="margin-left: auto;
                margin-right: auto;">
                <thead>
                <tr>
                    <th scope="col">Contract's id</th>
                    <th scope="col">Customer's name</th>
                    <th scope="col">Employee's name</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col" colspan="2">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contract:${listContract}">
                    <td th:text="${contract.contractId}"></td>
                    <td><a style="cursor: pointer" class="viewBtn" th:text="${contract.customer.customerName}"></a>
                        <input type="hidden" th:value="${contract.contractId}"/>
                    </td>
                    <td th:text="${contract.employee.employeeName}"></td>
                    <td th:text="${contract.contractStartDate}"></td>
                    <td th:text="${contract.contractEndDate}"></td>
                    <td><a th:href="@{/contract/detail/{id}(id=${contract.contractId})}" class="btn ">
                        <i class="far fa-edit" style="color: #0869f6"></i></a></td>
                    <td><a class="btn deleteBtn"> <i class="far fa-trash-alt" style="color: #0869f6"></i></a>
                        <input type="hidden" th:value="${contract.contractId}"/>
                    </td>
                </tr>
                </tbody>
                <div class="modal fade" id="idModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width: 570px">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="closeBtn" aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure to delete this customer?
                            </div>
                        </div>
                    </div>
                </div>
            </table>
        </main>
        <div th:if="${totalPages > 1}">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage != i}"
                               th:href="@{'/contract/list/page/' + ${i}}">[[${i}]]</a>
                            <li class="page-item disabled">
                             <a tabindex="-1" class="page-link" th:unless="${currentPage != i}">[[${i}]]</a>  &nbsp; &nbsp;
                            </li>
                        </li>
                    </span>
                    <li class="page-item">
                        <a class="page-link" th:if="${currentPage < totalPages}"
                           th:href="@{'/contract/list/page/' + ${currentPage + 1}}">Next</a>
                    <li class="page-item disabled">
                        <a tabindex="-1" class="page-link" th:unless="${currentPage < totalPages}">Next</a> &nbsp;
                        &nbsp;
                    </li>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:if="${currentPage < totalPages}"
                           th:href="@{'/contract/list/page/' + ${totalPages}}">Last</a>
                    <li class="page-item disabled">
                        <a tabindex="-1" class="page-link" th:unless="${currentPage < totalPages}">Last</a> &nbsp;
                        &nbsp;
                    </li>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        $('#myInput').autocomplete({
            source: "autocomplete",
            minLength: 1,
            select: function (event, ui) {
                let search = $("#myInput").val(ui.item.value).val();
                $.ajax({
                    url: "/contract/search",
                    type: "GET",
                    data: {"nameCus": search},
                }).done(function (data) {
                    $(".resultTable").html(data);
                });
            }
        });
    });
</script>

<script>
    $("#submitSearch").click(function () {
        let search = $("#myInput").val();
        $.ajax({
            url: "/contract/search",
            type: "GET",
            data: {"nameCus": search},
            dataType: "HTML",
            success: function (data) {
                $(".resultTable").html(data);
            }
        })
    })

    $(".viewBtn").click(function () {
        let id = $(this).next().val();
        $.ajax({
            url: "/contract/view/" + id,
            type: "GET",
            dataType: "HTML",
            success: function (data) {
                $(".modal-body").html(data);
                $("#idModal").modal("show");
            }
        })
    })
    $('.deleteBtn').click(function (event) {
        if (confirm('Are you sure you want to delete this?')) {
            let id = $(this).next().val();
            $.ajax({
                url: "/contract/delete/" + id,
                type: "GET",
                dataType: "HTML",
                success: function (data) {
                    $(".sb-nav-fixed").html(data);
                }
            });
        }
    });

</script>
<footer th:replace="~{/Layout::_footer}"></footer>
</body>
</html>

