#search {
    margin-left: 0px;
    height: 25px;
    width: 25px;
    border-radius: 15px;

}

.search1 {

    width: 80%;
   margin-bottom: 10px;
}
h3 {
    margin-bottom: -10px;
    text-align: center;
    font-family: sans-serif;
}
.button1{ height: 30px;
    width: 30px;
    border-radius: 15px;}
.button {
    height: 30px;
    width: 100px;
    border-radius: 15px;
}

#back {

    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid;
}

#foward {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid;
}

#cancel {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid;
}

#home {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid;
}

header {
    clear: left;
    background-color: gray;
    border-bottom: 2px solid black;
}

#logo {
    margin-left: 5px;
}

.content {
    margin-top: 10px;
}
.content0{
    font-family: sans-serif;
    margin-top: -70px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}
nav{

    float: left;
    border-right: 2px solid;
}
#option1{
    margin: 50px 40px 40px 15px;
}
#option2{
    margin: 20px 40px 40px 15px;
}
#option3{
    margin: 20px 40px 40px 15px;
}
#option4{
    margin: 20px 40px 40px 15px;
}
#option5{
    margin: 20px 40px 70px 15px;
}
footer {
    border-top:3px solid black;
    height: 100px;
    clear: left;
    background-color: gray;
    margin-top: 70px;
}

