<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{/home :: nav}"></nav>
<div class="container">
    <form th:action="@{/create}" th:object="${employee}" method="post">
        <div class="mb-3">
            <label for="employee_name" class="form-label">Employee Name</label>
            <input type="text" class="form-control" id="employee_name" th:field="*{employee_name}">
            <div>
                <p class="text-danger" th:if="${#fields.hasErrors('employee_name')}" th:errors="*{employee_name}">Name Error</p>
            </div>
        </div>
        <div class="mb-3">
            <label for="employee_birthday" class="form-label">Employee Birthday</label>
            <input type="date" class="form-control" id="employee_birthday" th:field="*{employee_birthday}">
            <div>
                <p class="text-danger" th:if="${#fields.hasErrors('employee_birthday')}" th:errors="*{employee_birthday}">Birthday Error</p>
            </div>
        </div>
        <div class="mb-3">
            <label for="employee_id_card" class="form-label">Employee ID Card</label>
            <input type="text" class="form-control" id="employee_id_card" th:field="*{employee_id_card}">
            <div>
                <p class="text-danger" th:if="${#fields.hasErrors('employee_id_card')}" th:errors="*{employee_id_card}">ID Card Error</p>
            </div>
        </div>
        <div class="mb-3">
            <label for="employee_salary" class="form-label">Employee Salary</label>
            <input type="text" class="form-control" id="employee_salary" th:field="*{employee_salary}">
            <div>
                <p class="text-danger" th:if="${#fields.hasErrors('employee_salary')}" th:errors="*{employee_salary}">Salary Error</p>
            </div>
        </div>
        <div class="mb-3">
            <label for="employee_phone" class="form-label">Employee Phone</label>
            <input type="text" class="form-control" id="employee_phone" th:field="*{employee_phone}">
            <div>
                <p class="text-danger" th:if="${#fields.hasErrors('employee_phone')}" th:errors="*{employee_phone}">Phone Error</p>
            </div>
        </div>
        <div class="mb-3">
            <label for="employee_email" class="form-label">Employee Email</label>
            <input type="text" class="form-control" id="employee_email" th:field="*{employee_email}">
            <div>
                <p class="text-danger" th:if="${#fields.hasErrors('employee_email')}" th:errors="*{employee_email}">Email Error</p>
            </div>
        </div>
        <div class="mb-3">
            <label for="employee_address" class="form-label">Employee Address</label>
            <input type="text" class="form-control" id="employee_address" th:field="*{employee_address}">
            <div>
                <p class="text-danger" th:if="${#fields.hasErrors('employee_address')}" th:errors="*{employee_address}">Address Error</p>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Employee Division</label>
            <select class="form-select" th:field="*{division.division_id}">
                <option th:each="divisions : ${division}" th:text="${divisions.division_name}" th:value="${divisions.division_id}"></option>
            </select>

        </div>
        <div class="mb-3">
            <label class="form-label">Employee Position</label>
            <select class="form-select" th:field="${employee.position.position_id}">
                <option th:each="positions : ${position}" th:text="${positions.position_name}" th:value="${positions.position_id}"></option>
            </select>

        </div>
        <div class="mb-3">
            <label class="form-label">Employee Education Degrees</label>
            <select class="form-select" th:field="${employee.education_degree.education_degree_id}">
                <option th:each="education_degrees : ${education_degree}" th:text="${education_degrees.education_degree_name}" th:value="${education_degrees.education_degree_id}"></option>
            </select>

        </div>
<!--        <div class="mb-3">-->
<!--            <label for="username" class="form-label">user name</label>-->
<!--            <input type="text" class="form-control" id="username" th:field="${employee.username}">-->
<!--        </div>-->
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>