<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="/home :: nav"></nav>
<div th:if="${message}" th:text="${message}" class="alert alert-success"></div>
<form class="d-flex" action="">
    <input
            class="form-control me-2"
            type="text"
            placeholder="Search"
            aria-label="Search"
            name="nameCus"
    />
    <button class="btn btn-outline-success" type="submit">
        Search
    </button>
</form>
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">Delete Employee</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <form th:object="${employee}" method="post" th:action="@{/delete}">-->
<!--                    <table th:each="employees : ${employee}" class="table table-striped">-->
<!--                        <td hidden th:text="${employees.employee_id}"></td>-->
<!--                        <tr>-->
<!--                            <th>employee_name</th>-->
<!--                            <td th:text="${employees.employee_name}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>employee_birthday</th>-->
<!--                            <td th:text="${employees.employee_birthday}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>employee_id_card</th>-->
<!--                            <td th:text="${employees.employee_id_card}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>employee_salary</th>-->
<!--                            <td th:text="${employees.employee_salary}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>employee_phone</th>-->
<!--                            <td th:text="${employees.employee_phone}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>employee_email</th>-->
<!--                            <td th:text="${employees.employee_email}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>employee_address</th>-->
<!--                            <td th:text="${employees.employee_address}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td></td>-->
<!--                            <td class="modal-footer">-->
<!--                                    <button type="submit" class="btn btn-secondary">Delete</button>-->
<!--                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </form>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="container">
    <a href="/create" class="btn btn-primary">New employee</a>
    <h1 class="text-center">List Employee</h1>
    <table class="table table-success ">
        <tr>

            <th>STT</th>
            <th>Id</th>
            <th>employee_name</th>
            <th>employee_birthday</th>
            <th>employee_id_card</th>
            <th>employee_salary</th>
            <th>employee_phone</th>
            <th>employee_email</th>
            <th>employee_address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="employees : ${employee}">
            <td th:text="${employees.employee_id}"></td>
            <td th:text="${employees.employee_name}"></td>
            <td th:text="${employees.employee_birthday}"></td>
            <td th:text="${employees.employee_id_card}"></td>
            <td th:text="${employees.employee_salary}"></td>
            <td th:text="${employees.employee_phone}"></td>
            <td th:text="${employees.employee_email}"></td>
            <td th:text="${employees.employee_address}"></td>
            <!--        <td ><a th:href="@{blog/view/__${blog.id}__}">View</a></td>-->
            <td><a th:href="@{/edit/__${employees.employee_id}__}" class="btn btn-info">Edit</a></td>
<!--            <td><a th:href="@{/delete/__${employees.employee_id}__}" class="btn btn-danger" data-bs-toggle="modal"-->
<!--                   data-bs-target="#exampleModal">Delete</a></td>-->
<!--            <td><button type="button" id="btnModalDelete" th:onclick="'javascript:showDelete(\''+${employees.employee_id}+'\');'">Delete</button></td>-->
            <td><a th:href="@{/delete/__${employees.employee_id}__}" class="btn btn-primary">Delete</a></td>

        </tr>
    </table>
        <div>
            <a th:href="@{'/employee/'(page=${employee.number - 1})}" th:if="${employee.hasPrevious()}">Previous</a>
            <!--    <span th:text="${employee.number + 1}"></span>/<span th:text="${employee.totalPages}"></span>-->
            <th:block th:each="i: ${#numbers.sequence(0, 1)}" th:if="${employee.number < employee.totalPages - 1}">
                <a th:href="@{'/employee/'(page=${employee.number + i})}" th:text="${employee.number + i +1}"></a>
            </th:block>
            <a th:href="@{'/employee/'(page=${employee.number + 1})}" th:if="${employee.hasNext()}">Next</a>
        </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

</body>

</html>