<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a th:href="@{/product}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form th:action="@{/product/save}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{productId}"/>
        <div>
            <label>Name Product</label>
            <input type="text" th:field="*{productName}"/>
        </div>
        <div>
            <label>Brand</label>
            <input type="text" th:field="*{brand}"/>
        </div>
        <div>
            <label>Color</label>
            <input type="text" th:field="*{color}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="number" th:field="*{price}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>