<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<h3>View Customer</h3>
<p>
    <a th:href="@{/product}">
        Back to customer list
    </a>
</p>
<div >
    <div >
        <label>Name Product:</label>
        <label th:text="${product.productName}"></label>
    </div>
    <div >
        <label>Brand:</label>
        <label th:text="${product.brand}"></label>
    </div>
    <div >
        <label>Color:</label>
        <label th:text="${product.color}"></label>
    </div>
    <div >
        <label>Price:</label>
        <label th:text="${product.price}"></label>
    </div>
</div>
</body>
</html>